# App
API_KEY=super-secret-api-key

# PostgreSQL
POSTGRES_USER=payments_user
POSTGRES_PASSWORD=payments_pass
POSTGRES_DB=payments_db
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# RabbitMQ
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672

# Webhook
WEBHOOK_TIMEOUT=5
WEBHOOK_MAX_RETRIES=3